.fancybox-type-iframe .fancybox-inner@charset "UTF-8";article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,table,figure{margin:0;padding:0;}
input:focus,textarea:focus{outline:0;}
fieldset,img,abbr,acronym,a img{border:0 none;}
ol,ul,li,figure{list-style:none;}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:before,q:after{content:'';}
img{width:auto\9;height:auto;max-width:100%;}
table{border-collapse:collapse;border-spacing:0;}
table td,table th{padding:3px;border:1px solid #ccc;text-align:center;word-wrap:break-word;word-break:break-word;}
table th{background:#ddd;font-weight:bold;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
a,#container,#main>div>div,.proPic,.prolist .probox,#hotul_1 .proimg,#footerToolBar,.toolMask,#chatToolBox{-webkit-transition:all .6s ease 0;-moz-transition:all .6s ease 0;-o-transition:all .6s ease 0;transition:all .6s ease 0;-ms-transition:all .6s ease 0;}
.inner,img,input,textarea,select,.tag,.center,#top,#menu ul,#banner,#main,#root .rootmenu ul,#root .rootlist,.searchForm,#top .search form,.imgMid,.proPic>a:first-child,.prolist .probox>a:first-child,#hotul_1 .proimg>a:first-child,.detailbox #proleft #proimg,#footerToolBar li,#footerToolBar li a,.toolMask .toolTop,.nav .titl,#tags li,#hotul_1{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;}
a.playBtn:after{position:absolute;overflow:hidden;width:0;height:0;border-style:solid;}
.center,#top,#menu ul,#banner,#main,#root .rootmenu ul,#root .rootlist{margin-right:auto;margin-left:auto;}
.toolMask .toolTop,.toolMask .toolContent .ToolListTitle,#chatToolBox #chatToolMail a,.darkTitle,.nav .titl,#right .titl,.blackTitle,#left>.titl,#menu li,.left .newsbox .titl,#left1 .newsbox .titl,#side .newsbox .titl,#root .rootlist .titl,#root .rootlist .inquiry li input[type="submit"]{text-transform:uppercase;}
body,input,textarea,.page{font-family:Arial,Helvetica,'Microsoft YaHei',SimSun,Sans-serif;}
@font-face{font-weight:normal;font-style:normal;font-family:'icomoon';src:url("../font/icomoon.eot");src:url("../font/icomoon.eot?#iefix") format("embedded-opentype"),url("../font/icomoon.woff") format("woff"),url("../font/icomoon.ttf") format("truetype"),url("../font/icomoon.svg#icomoon") format("svg");-webkit-font-smoothing:antialiased;font-smooth:always;}
html{font-size:16px;}
body{overflow-x:hidden;background:#fff;color:#333;line-height:1.75;}
body,input,textarea,.justify .box,#top .box,#right .prolist .box,.prolist .box,#root .rootlist .box,.detailbox .box,#top .logo,#top ul,#root .rootlist #top ul,#top #root .rootlist ul,#top .prolist .probox,.prolist #top .probox,#right .prolist .probox,.prolist .probox,#root .rootlist .prolist .probox,.prolist #root .rootlist .probox,#root .rootlist>div,.detailbox #proleft,.detailbox #proright{font-size:12px;}
a{color:#333;text-decoration:none;}
a:hover{color:#f67f00;}
a,input,div,textarea,span{-webkit-tap-highlight-color:transparent;}
input[type="text"],textarea{color:#909090;text-align:left;}
input[type="text"].focusOn,textarea.focusOn{color:#333;}
.center,#top,#menu ul,#banner,#main,#root .rootmenu ul,#root .rootlist{width:990px;max-width:99%;}
i{font-style:normal;}
td,th{padding:2px 3px;}
.title{text-transform:capitalize;}
#menuTop{position:absolute;top:0;z-index:99;display:none;width:100%;height:50px;text-align:center;}
.bgLinearBlack{background:-webkit-linear-gradient(top,#333,#222);background:-moz-linear-gradient(top,#333,#222);background:-o-linear-gradient(top,#333,#222);background:-ms-linear-gradient(top,#333,#222);background:linear-gradient(top,#333,#222);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF333333',endColorStr='#FF222222',gradientType='0');}
#menuBtn,#setBtn{position:absolute;top:0;width:40px;height:50px;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,0.6);line-height:50px;opacity:.9;cursor:pointer;}
#menuBtn:before,#setBtn:before{color:#fff;font-family:icomoon;}
#menuBtn.active,#setBtn.active{opacity:.5;}
#menuBtn.active:before,#setBtn.active:before{content:'\e60b';font-size:28px;}
#menuBtn{right:0;padding-right:6px;}
#menuBtn:before{content:'\e637';font-size:32px;}
#setBtn{left:0;padding-left:6px;}
#setBtn:before{content:'\e638';font-size:32px;}
.sharelink a{display:inline-block;vertical-align:middle;}
.sharelink a:before{font-family:icomoon;}
.sharelink .facebook:before{content:'\e62c';}
.sharelink .twitter:before{content:'\e62b';}
.sharelink .youtube:before{content:'\e631';}
.sharelink .linkedin:before{content:'\e630';}
.sharelink .google:before{content:'\e62d';}
.sharelink .tumblr:before{content:'\e62f';}
.sharelink .shareyt2:before{content:'\e634';}
.searchForm,#top .search form{position:relative;max-width:100%;}
.searchForm input[type='text'],#top .search form input[type='text']{width:100%;border:0 none;background:transparent;}
.searchForm button[type='submit'],#top .search form button[type='submit']{position:absolute;top:0;right:0;border:0 none;}
.imgMid,.proPic>a:first-child,.prolist .probox>a:first-child,#hotul_1 .proimg>a:first-child,.detailbox #proleft #proimg{overflow:hidden;text-align:center;font-size:0;}
.imgMid img,.proPic>a:first-child img,.prolist .probox>a:first-child img,#hotul_1 .proimg>a:first-child img,.detailbox #proleft #proimg img{max-width:100%;max-height:100%;}
.imgMid img,.proPic>a:first-child img,.prolist .probox>a:first-child img,#hotul_1 .proimg>a:first-child img,.detailbox #proleft #proimg img,.imgMid:after,.proPic>a:first-child:after,.prolist .probox>a:first-child:after,#hotul_1 .proimg>a:first-child:after,.detailbox #proleft #proimg:after{display:inline-block;vertical-align:middle;}
.imgMid:after,.proPic>a:first-child:after,.prolist .probox>a:first-child:after,#hotul_1 .proimg>a:first-child:after,.detailbox #proleft #proimg:after{overflow:hidden;width:0;height:100%;content:'';}
.proPic>a:first-child,.prolist .probox>a:first-child,#hotul_1 .proimg>a:first-child{display:block;}
.proPic>a:first-child p,.prolist .probox>a:first-child p,#hotul_1 .proimg>a:first-child p{text-align:left;}
.protext{display:block;margin-top:8px;text-align:center;line-height:1.333;}
.page{margin-top:1%;}
.page a,.page span{display:inline-block;margin-right:6px;margin-bottom:7px;padding:3px 7px;border:1px solid #d7d7d5;font-size:12px;line-height:16px;}
.page a:hover,.page .cur{border:1px solid #2c2c2c;background:#2c2c2c;color:#fff;}
a.playBtn{position:relative;display:inline-block;}
a.playBtn:before{position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;margin:auto;width:50px;height:50px;border:1px solid #222;border-radius:4px;background:url(../img/bg-black80.png) repeat;background:rgba(0,0,0,0.8);content:'';}
a.playBtn:after{top:0;right:0;bottom:0;left:18px;margin:auto;border-color:transparent transparent transparent #fff;border-width:10px 16px;content:'';}
.justify,#top,#right .prolist,.prolist,#root .rootlist,.detailbox{text-align:justify;text-justify:inter-ideograph;letter-spacing:0;font-size:0;}
.justify:after,#top:after,#right .prolist:after,.prolist:after,#root .rootlist:after,.detailbox:after{display:inline-block;overflow:hidden;width:100%;height:0;content:'.';}
.justify .line,#top .line,#right .prolist .line,.prolist .line,#root .rootlist .line,.detailbox .line{display:inline-block;overflow:hidden;height:0;content:'.';}
.justify .box,#top .box,#right .prolist .box,.prolist .box,#root .rootlist .box,.detailbox .box,#top .logo,#top ul,#root .rootlist #top ul,#top #root .rootlist ul,#top .prolist .probox,.prolist #top .probox,#right .prolist .probox,.prolist .probox,#root .rootlist .prolist .probox,.prolist #root .rootlist .probox,#root .rootlist>div,.detailbox #proleft,.detailbox #proright{display:inline-block;vertical-align:top;text-align:left;}
.justify.box,.box#top,#top #top.logo,#top ul#top,.prolist #top.probox,#root .rootlist>div#top,#top .justify.logo,#top .logo.prolist,#top #root .logo.rootlist,#root #top .logo.rootlist,#top .logo.detailbox,#top ul.justify,#top ul.prolist,#top #root ul.rootlist,#root #top ul.rootlist,#top ul.detailbox,#right .box.prolist,#right .prolist .prolist.probox,.prolist #right .prolist.probox,.box.prolist,.prolist .prolist.probox,#root .rootlist>div.prolist,.detailbox .prolist#proleft,.detailbox .prolist#proright,.prolist .justify.probox,.prolist #root .probox.rootlist,#root .prolist .probox.rootlist,.prolist .probox.detailbox,#root .box.rootlist,#root .rootlist>div.rootlist,#root .detailbox .rootlist#proleft,.detailbox #root .rootlist#proleft,#root .detailbox .rootlist#proright,.detailbox #root .rootlist#proright,#root .rootlist>div.justify,#root .rootlist>div.detailbox,.box.detailbox,.detailbox .detailbox#proleft,.detailbox .detailbox#proright,.detailbox .justify#proleft,.detailbox .justify#proright{text-align:justify;}
.clearfix,#main,#right .aboutbox p,#spec-list,#tags{*zoom:1;}
.clearfix:before,#main:before,#right .aboutbox p:before,#spec-list:before,#tags:before,.clearfix:after,#main:after,#right .aboutbox p:after,#spec-list:after,#tags:after{display:table;content:"";}
.clearfix:after,#main:after,#right .aboutbox p:after,#spec-list:after,#tags:after{clear:both;}
body.clear{overflow:hidden;}
#footerToolBar{position:fixed;right:0;bottom:0;left:0;z-index:999;display:none;width:100%;height:48px;border-top:1px solid rgba(255,255,255,0.2);background:#232323;}
#footerToolBar #footerBarClose{position:absolute;top:-24px;left:50%;display:none;margin-left:-50px;width:100px;height:24px;cursor:pointer;}
#footerToolBar #footerBarClose:before{position:absolute;bottom:0;left:0;overflow:hidden;width:100%;height:20px;border-radius:4px 4px 0 0;background:#232323;color:#fff;content:"\e626";text-align:center;font-size:12px;font-family:icomoon;line-height:20px;}
#footerToolBar li{float:left;margin-top:2px;width:20%;height:45px;border-color:#fff;border-left:1px solid rgba(255,255,255,0.2);text-align:center;cursor:pointer;}
#footerToolBar li a{display:block;padding-top:1px;height:45px;color:#fff;text-transform:capitalize;font-size:12px;line-height:1;opacity:.8;filter:alpha(opacity=80);}
#footerToolBar li a:before{display:block;margin:4px auto;width:30px;height:20px;background:url(../img/footerbox/footer-tool.png) no-repeat;background-size:149px;content:'';}
#footerToolBar li:first-child{border-left:0 none;}
#footerToolBar .footerBarPro a:before{background-position:-120px 0;}
#footerToolBar .footerBarTel a:before{background-position:-90px 0;}
#footerToolBar .footerBarEmail a:before{background-position:0 0;}
#footerToolBar .footerBarMessage a:before{background-position:-30px 0;}
#footerToolBar .footerBarShare a:before{background-position:-60px 0;}
#footerToolBar.close{bottom:-43px;}
#footerToolBar.close #footerBarClose:before{content:'\e627';}
.toolMask{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1200;display:none;overflow-x:hidden;overflow-y:hidden;margin-left:100%;width:100%;height:100%;background:#f7f7f7;}
.toolMask,.toolMask a{color:#333;}
.toolMask.moveLeft{margin-left:0;}
.toolMask .toolTop{position:absolute;top:0;right:0;left:0;padding-right:32px;width:100%;height:46px;border-bottom:1px solid #ddd;background:#fcfcfc;text-align:center;font-size:18px;line-height:45px;}
.toolMask .toolContent{position:absolute;top:45px;bottom:5px;left:0;overflow-y:scroll;width:100%;background:#f7f7f7;}
.toolMask .toolContent>ul>li{position:relative;border-top:1px solid #fff;border-bottom:1px solid #ddd;text-transform:capitalize;font-size:14px;line-height:1.2;}
.toolMask .toolContent>ul>li a{display:block;padding-top:12px;padding-right:20px;padding-bottom:12px;}
.toolMask .toolContent>ul>li>a{padding-left:20px;}
.toolMask .toolContent>ul>li.selected{border-bottom:3px solid #dadada;background:#eee;}
.toolMask .toolContent>ul>li.selected>a{background:#eee;font-weight:bold;}
.toolMask .toolContent>ul>li.hasUl>a:after{position:absolute;top:13px;right:10px;width:12px;height:18px;color:#999;content:'\e622';text-align:center;font-weight:normal;font-size:18px;font-family:icomoon;line-height:18px;}
.toolMask .toolContent>ul>li ul{display:none;}
.toolMask .toolContent>ul>li ul li{border-top:1px dotted #ccc;font-size:12px;}
.toolMask .toolContent>ul>li ul li a{padding-left:36px;}
.toolMask .toolContent .ToolListTitle{padding:10px;background:#e4e4e4;font-weight:bold;font-size:15px;}
.toolMask .toolContent>ul:last-child{padding-bottom:15px;}
.toolMask .toolContent>ul:last-child:last-child{padding-bottom:30px;}
.toolMask #toolCloseBtn{position:absolute;top:0;right:0;z-index:1210;width:55px;height:42px;cursor:pointer;}
.toolMask #toolCloseBtn:before{position:absolute;top:5px;right:5px;overflow:hidden;width:32px;height:32px;border-radius:50%;background:#aaa;color:#fff;content:"\e60e";text-align:center;font-size:14px;font-family:icomoon;line-height:32px;}
.toolMask #toolCloseBtn:hover:before{background:#bbb;}
@font-face{font-weight:normal;font-style:normal;font-family:'BebasRegular';src:url("../img/footerbox/bebas.eot");src:url("../img/footerbox/bebas.eot") format("embedded-opentype"),url("../img/footerbox/bebas.woff") format("woff"),url("../img/footerbox/bebas.ttf") format("truetype"),url("../img/footerbox/bebas.svg#BebasRegular") format("svg");}
#chatToolBox{position:fixed;right:-5px;bottom:90px;z-index:999;width:110px;color:#fff;font-family:Arial,Helvetica,San-serif,'Microsoft YaHei',SimSun;}
#chatToolBox a{display:block;color:#fff;text-align:center;text-decoration:none;}
#chatToolBox,#chatToolBox h3,#chatToolBox ul,#chatToolBox li{margin:0;padding:0;-webkit-tap-highlight-color:transparent;}
#chatToolBox li{padding-right:5px;list-style:none;}
#chatToolBox #chatToolMail a{padding-top:28px;padding-bottom:22px;letter-spacing:-1px;font-size:40px;font-family:BebasRegular,"Arial Narrow",Arial,San-serif;line-height:44px;}
#chatToolBox .chatToolContact{margin-top:5px;padding:6px 0;background:#444;text-transform:capitalize;font-size:16px;}
#chatToolBox:hover{right:0;}
#chatToolBox #chatToolMail i{position:absolute;top:0;width:100%;height:28px;background:transparent;text-align:center;line-height:28px;cursor:pointer;}
#chatToolBox #chatToolMail i:before{content:'\e63d';font-size:24px;font-family:icomoon;}
#chatToolBox.hiddenRight{right:-110px;padding-left:28px;}
#chatToolBox.hiddenRight #chatToolMail i{top:20px;left:0;width:28px;height:60px;background:inherit;line-height:60px;}
#chatToolBox.hiddenRight #chatToolMail i:before{content:'\e625';}
#chatToolMail{background:#0865a7;}
@media screen and (max-width:640px){#chatToolBox{display:none;}
}
.footable{width:100%;border-collapse:collapse;border-spacing:0;}
.footable td,.footable th{padding:5px;border:1px solid #ccc;text-align:center;}
@media screen and (max-width:900px){.footable td,.footable th{text-align:left;}
}
.footable .footable-row-detail-cell{background:#fff;}
.footable th{background:#ddd;font-weight:bold;}
.footable.breakpoint>tbody>tr.footable-detail-show>td{border-bottom:0;}
.footable.breakpoint>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e65a";}
.footable.breakpoint>tbody>tr:hover:not(.footable-row-detail){cursor:pointer;}
.footable.breakpoint>tbody>tr>td.footable-cell-detail{border-top:0;background:#eee;}
.footable.breakpoint>tbody>tr>td>span.footable-toggle{display:inline-block;padding-right:5px;color:#999;text-transform:none;font-weight:normal;font-style:normal;font-variant:normal;font-size:14px;font-family:'icomoon';speak:none;-webkit-font-smoothing:antialiased;}
.footable.breakpoint>tbody>tr>td>span.footable-toggle:before{content:"\e659";}
.footable.breakpoint.toggle-circle>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e65e";}
.footable.breakpoint.toggle-circle>tbody>tr>td>span.footable-toggle:before{content:"\e65d";}
.footable.breakpoint.toggle-circle-filled>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e65c";}
.footable.breakpoint.toggle-circle-filled>tbody>tr>td>span.footable-toggle:before{content:"\e65b";}
.footable.breakpoint.toggle-square>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e660";}
.footable.breakpoint.toggle-square>tbody>tr>td>span.footable-toggle:before{content:"\e65f";}
.footable.breakpoint.toggle-square-filled>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e61a";}
.footable.breakpoint.toggle-square-filled>tbody>tr>td>span.footable-toggle:before{content:"\e61b";}
.footable.breakpoint.toggle-arrow>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e00f";}
.footable.breakpoint.toggle-arrow>tbody>tr>td>span.footable-toggle:before{content:"\e666";}
.footable.breakpoint.toggle-arrow-small>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e636";}
.footable.breakpoint.toggle-arrow-small>tbody>tr>td>span.footable-toggle:before{content:"\e635";}
.footable.breakpoint.toggle-arrow-circle>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e66e";}
.footable.breakpoint.toggle-arrow-circle>tbody>tr>td>span.footable-toggle:before{content:"\e670";}
.footable.breakpoint.toggle-arrow-circle-filled>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e662";}
.footable.breakpoint.toggle-arrow-circle-filled>tbody>tr>td>span.footable-toggle:before{content:"\e664";}
.footable.breakpoint.toggle-arrow-tiny>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e622";}
.footable.breakpoint.toggle-arrow-tiny>tbody>tr>td>span.footable-toggle:before{content:"\e624";}
.footable.breakpoint.toggle-arrow-alt>tbody>tr.footable-detail-show>td>span.footable-toggle:before{content:"\e66a";}
.footable.breakpoint.toggle-arrow-alt>tbody>tr>td>span.footable-toggle:before{content:"\e66c";}
.footable.breakpoint.toggle-medium>tbody>tr>td>span.footable-toggle{font-size:18px;}
.footable.breakpoint.toggle-large>tbody>tr>td>span.footable-toggle{font-size:24px;}
.footable>thead>tr>th{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none;user-select:none;}
.footable>thead>tr>th.footable-sortable:hover{cursor:pointer;}
.footable>thead>tr>th.footable-sorted>span.footable-sort-indicator:before{content:"\e636";}
.footable>thead>tr>th.footable-sorted-desc>span.footable-sort-indicator:before{content:"\e656";}
.footable>thead>tr>th>span.footable-sort-indicator{display:inline-block;padding-left:5px;text-transform:none;font-weight:normal;font-style:normal;font-variant:normal;font-family:'icomoon';speak:none;-webkit-font-smoothing:antialiased;}
.footable>thead>tr>th>span.footable-sort-indicator:before{content:"\e671";}
.footable>tfoot .pagination{margin:0;}
.footable.no-paging .hide-if-no-paging{display:none;}
.footable-row-detail-inner{display:table;}
.footable-row-detail-row{display:table-row;line-height:1.5em;}
.footable-row-detail-group{display:block;font-weight:bold;font-size:1.2em;line-height:2em;}
.footable-row-detail-name{display:table-cell;padding-right:.5em;font-weight:bold;}
.footable-row-detail-value{display:table-cell;}
.footable-odd{background-color:#f7f7f7;}
.dropdown,.dropdown div,.dropdown li,.dropdown div::after{-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out;-ms-transition:all 150ms ease-in-out;}
.dropdown .selected::after,.dropdown.scrollable div::after{-webkit-pointer-events:none;-moz-pointer-events:none;-ms-pointer-events:none;pointer-events:none;}
.dropdown{position:relative;border:1px solid #ccc;border-radius:3px;background:#fff;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.dropdown.open{z-index:2;}
.dropdown:hover{box-shadow:0 0 5px rgba(0,0,0,0.15);}
.dropdown.focus{box-shadow:0 0 5px rgba(51,102,248,0.4);}
.dropdown .carat{position:absolute;top:50%;right:12px;overflow:hidden;margin-top:-4px;width:1px;height:1px;border-color:#f6ab00 transparent transparent transparent;border-style:solid;border-width:13px 9px;}
.dropdown.open .carat{margin-top:-20px;border-color:transparent transparent #f6ab00 transparent;}
.dropdown.disabled .carat{border-top-color:#999;}
.dropdown .old{position:absolute;top:0;left:0;overflow:hidden;width:0;height:0;}
.dropdown select{position:absolute;top:0;left:0;}
.dropdown.touch .old{width:100%;height:100%;}
.dropdown.touch select{width:100%;height:100%;opacity:0;}
.dropdown .selected,.dropdown li{display:block;overflow:hidden;padding:10px 12px 9px 12px;white-space:nowrap;font-size:16px;line-height:1.5;}
.dropdown.disabled .selected{color:#999;}
.dropdown .selected::after{position:absolute;top:0;right:0;bottom:0;width:60px;border-radius:0 2px 2px 0;box-shadow:inset -55px 0 25px -20px #fff;content:'';}
.dropdown div{position:absolute;top:100%;right:-1px;left:-1px;overflow:hidden;margin-top:-1px;height:0;border:1px solid #ccc;border-top:1px solid #eee;border-radius:0 0 3px 3px;background:#fff;opacity:0;}
.dropdown.open div{z-index:2;opacity:1;}
.dropdown.scrollable div::after{position:absolute;right:0;bottom:0;left:0;height:50px;box-shadow:inset 0 -50px 30px -35px #fff;content:'';}
.dropdown.scrollable.bottom div::after{opacity:0;}
.dropdown ul{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:100%;list-style:none;}
.dropdown.scrollable.open ul{overflow-y:auto;}
.dropdown li{padding:8px 12px;list-style:none;}
.dropdown li.focus{position:relative;z-index:3;background:#f6ab00;color:#fff;}
.dropdown li.active{font-weight:700;}
#container{overflow:hidden;width:100%;}
.bigimg{max-width:none;}
div.clear{display:none;}
.darkLinear,.darkTitle,.nav .titl,#right .titl,#menu{background:-webkit-linear-gradient(top,#636363,#282828);background:-moz-linear-gradient(top,#636363,#282828);background:-o-linear-gradient(top,#636363,#282828);background:-ms-linear-gradient(top,#636363,#282828);background:linear-gradient(top,#636363,#282828);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF636363',endColorStr='#FF282828',gradientType='0');}
.darkTitle,.nav .titl,#right .titl{color:#fff;font-size:15px;line-height:22px;}
.yellowLinear,#top .search form button[type='submit'],#root .rootlist .inquiry li input[type="submit"]{background:-webkit-linear-gradient(top,#f6ab00,#ef6b00);background:-moz-linear-gradient(top,#f6ab00,#ef6b00);background:-o-linear-gradient(top,#f6ab00,#ef6b00);background:-ms-linear-gradient(top,#f6ab00,#ef6b00);background:linear-gradient(top,#f6ab00,#ef6b00);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFF6AB00',endColorStr='#FFEF6B00',gradientType='0');}
.blackTitle,#left>.titl{color:#000;font-size:31px;line-height:1.2;}
@media screen and (max-width:650px){.blackTitle,#left>.titl{font-size:28px;}
}
@media screen and (max-width:500px){.blackTitle,#left>.titl{font-size:26px;}
}
.redLinear,.detailbox #proright .pdcon>a,#quotation input[type="submit"],#quotation input[type="reset"]{background:-webkit-linear-gradient(top,#f76f00,#df2c03);background:-moz-linear-gradient(top,#f76f00,#df2c03);background:-o-linear-gradient(top,#f76f00,#df2c03);background:-ms-linear-gradient(top,#f76f00,#df2c03);background:linear-gradient(top,#f76f00,#df2c03);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFF76F00',endColorStr='#FFDF2C03',gradientType='0');}
#header{border-top:2px solid #282828;}
#top{margin-bottom:24px;}
#top .logo,#top ul{margin-top:1.11111%;padding-top:11px;}
#top .logo a{display:inline-block;vertical-align:middle;text-transform:capitalize;font-weight:bold;font-size:16px;line-height:1.5;}
#top .logo a:first-child{margin-right:15px;width:71px;}
#top .logo a:last-child{margin-top:5px;}
#top .logo a:hover{color:#333;}
@media screen and (max-width:600px){#top .logo a:first-child{display:block;margin:0 auto 5px auto;margin-right:0;}
}
@media screen and (max-width:400px){#top .logo a{font-size:15px;}
}
#top .sharelink{margin-bottom:12px;}
#top .sharelink a{display:inline-block;margin-left:5px;width:20px;height:20px;color:#fff;vertical-align:middle;text-align:center;text-shadow:0 0 2px rgba(0,0,0,0.3);font-size:14px;line-height:20px;}
#top .sharelink a:first-child{margin-left:0;}
#top .sharelink a.facebook{background:#3b5b99;}
#top .sharelink a.twitter{background:#00aced;}
#top .sharelink a.youtube{background:#FF011D;}
#top .sharelink a.linkedin{background:#0080b2;}
#top .sharelink a.google{background:#d44332;}
#top .sharelink a.tumblr{background:#385874;}
#top ul{width:520px;text-align:right;}
#top .langlink,#top .search{display:inline-block;vertical-align:middle;}
#top .langlink,#top .langlink a{color:#a5a5a5;}
#top .langlink a{margin-right:8px;margin-left:8px;}
#top .langlink a:first-child{margin-left:0;}
#top .search form{padding-right:41px;width:320px;}
#top .search form input[type='text']{padding:4px 5px;height:29px;border:1px solid #eeeded;border:1px solid rgba(255,255,255,0);background:#f9f8f8;box-shadow:inset 1px 1px 3px rgba(0,0,0,0.4);line-height:21px;}
#top .search form button[type='submit']{width:37px;height:29px;color:#fff;text-align:center;line-height:29px;}
#top .search form button[type='submit']:before{content:"\e618";font-size:20px;font-family:icomoon;}
#top .search form input,#top .search form button[type='submit']{overflow:hidden;border-radius:3px;}
@media screen and (max-width:990px){#top{margin-bottom:1.21212%;padding-bottom:12px;}
#top .logo{width:100%;text-align:center;}
#top ul{width:100%;text-align:center;}
}
#menu{position:relative;margin-bottom:19px;}
#menu:before,#menu li a:hover:before,#menu li a.now:before{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:1px;content:'';}
#menu:before{z-index:5;border-bottom:1px solid #828282;background:#2d2d2d;}
#menu ul{display:table;}
#menu li{display:table-cell;min-width:70px;border-left:1px solid transparent;}
#menu li:first-child{border-left:0 none;}
#menu li a{position:relative;z-index:9;display:block;color:#fff;text-align:center;line-height:35px;}
#menu li a.now,#menu li a:hover{background:-webkit-linear-gradient(top,#f6ab00,#f67400);background:-moz-linear-gradient(top,#f6ab00,#f67400);background:-o-linear-gradient(top,#f6ab00,#f67400);background:-ms-linear-gradient(top,#f6ab00,#f67400);background:linear-gradient(top,#f6ab00,#f67400);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFF6AB00',endColorStr='#FFF67400',gradientType='0');}
#menu li a.now:before,#menu li a:hover:before{border-bottom:1px solid #f9c44d;background:#dc7f00;content:'';}
@media screen and (max-width:990px){#menu{margin-bottom:1.91919%;}
}
#banner{text-align:center;}
#main{padding-bottom:20px;}
.left,#left1,#side{width:20.90909%;}
.right,#right,#left{width:76.56566%;}
.left,#left1,#side,.right,#right,#left{margin-top:1.0101%;margin-bottom:.70707%;padding-top:9px;}
.nav{margin-bottom:14px;}
.nav .titl{position:relative;padding:8px 5px;border-color:#323232;border-style:solid;border-width:1px 1px 0 1px;text-align:center;line-height:20px;}
.nav .titl:before{position:absolute;top:0;right:0;bottom:0;left:0;border-color:#787878;border-style:solid;border-width:1px 1px 0 1px;content:'';}
.nav dl{border-color:#d4d4d4;border-style:solid;border-width:0 1px 1px 1px;background:#fff;}
.nav dl dt{border-top:1px solid #e1e1e1;}
.nav dl dt a{display:block;padding:6px 8px 6px 16px;line-height:15px;}
.nav dl dt a:hover{text-decoration:underline;}
.left .video,#left1 .video,#side .video{position:relative;margin-bottom:20px;}
.left .video:after,#left1 .video:after,#side .video:after{position:absolute;bottom:0;left:10%;overflow:hidden;width:80%;height:4px;border-radius:50%;box-shadow:0 16px 7px rgba(0,0,0,0.6);content:'';}
.left .youtube,#left1 .youtube,#side .youtube{margin-bottom:12px;}
.left .newsbox .titl,#left1 .newsbox .titl,#side .newsbox .titl{padding:8px 0 8px 6px;border-bottom:1px solid #cacaca;background:#d3d3d3;font-size:20px;line-height:1;}
.left .newsbox .titl a,#left1 .newsbox .titl a,#side .newsbox .titl a{margin-left:6px;font-size:12px;}
.left .newsbox ul,#left1 .newsbox ul,#side .newsbox ul{padding:5px 15px;background:#e9e9e9;}
.left .newsbox ul li,#left1 .newsbox ul li,#side .newsbox ul li{padding:15px 0;border-top:1px dotted #b6b6b6;}
.left .newsbox ul li:first-child,#left1 .newsbox ul li:first-child,#side .newsbox ul li:first-child{border-top:0 none;}
.left .newsbox ul li span,#left1 .newsbox ul li span,#side .newsbox ul li span{display:block;margin-bottom:5px;color:#9b9b9b;line-height:1;}
.left .newsbox ul li a,#left1 .newsbox ul li a,#side .newsbox ul li a{line-height:15px;}
#left1{float:left;}
#right{float:right;}
#right .titl{padding:5px 7px 5px 12px;border-radius:5px 5px 0 0;box-shadow:0 2px 3px rgba(0,0,0,0.25);text-align:left;}
#right .titl a{float:right;color:#fff;font-size:12px;}
#right .titl a:after{margin-top:-3px;padding-left:2px;color:#bfbfbf;content:'\e650';vertical-align:top;font-size:18px;font-family:icomoon;}
#right .aboutbox{margin-bottom:16px;}
#right .aboutbox p{padding:15px 11px;border:1px solid #e1e1e1;background:#f2f2f2;color:#868686;}
#right .aboutbox p img{float:left;margin-right:3%;max-width:45%;border:3px solid #fff;box-shadow:0 0 4px rgba(0,0,0,0.2);}
@media screen and (max-width:500px){#right .aboutbox p img{float:none;display:block;margin:0 auto 8px auto;width:auto;max-width:100%;}
}
#right .prolist .titl{margin-bottom:12px;}
.prolist .probox{margin-bottom:.65963%;padding-bottom:15px;}
.prolist .probox>a{overflow:hidden;height:141px;border:1px solid #e6e3e3;}
.prolist .line,.prolist .probox{width:28.36412%;}
@media screen and (max-width:500px){.prolist .line,.prolist .probox{width:47%;}
.prolist .line{display:none;}
}
@media screen and (max-width:350px){.prolist .probox{width:100%;}
}
#root{background:#323232;}
#root .rootmenu{background:-webkit-linear-gradient(top,#4d4d4d,#1c1c1c);background:-moz-linear-gradient(top,#4d4d4d,#1c1c1c);background:-o-linear-gradient(top,#4d4d4d,#1c1c1c);background:-ms-linear-gradient(top,#4d4d4d,#1c1c1c);background:linear-gradient(top,#4d4d4d,#1c1c1c);box-shadow:0 1px 2px rgba(0,0,0,0.08);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF4D4D4D',endColorStr='#FF1C1C1C',gradientType='0');}
#root .rootmenu ul{padding-top:4px;padding-bottom:1px;}
#root .rootmenu ul li{position:relative;display:inline-block;margin-right:18px;margin-bottom:4px;padding-right:18px;color:transparent;vertical-align:top;text-transform:capitalize;font-size:0;}
#root .rootmenu ul li:after{position:absolute;top:0;right:0;bottom:0;overflow:hidden;margin:auto;width:1px;height:6px;background:#6d6d6d;content:'';}
#root .rootmenu ul li a{display:block;color:#d3d3d3;font-size:12px;}
#root .rootmenu ul li:last-child{margin-right:0;padding-right:0;}
#root .rootmenu ul li:last-child:after{display:none;}
@media screen and (max-width:820px){#root .rootmenu ul{padding-top:8px;padding-bottom:5px;}
#root .rootmenu ul li a{padding-top:3px;padding-bottom:3px;}
}
#root .rootlist{position:relative;padding-top:20px;padding-bottom:15px;color:#a1a1a1;}
#root .rootlist a{color:#a1a1a1;}
#root .rootlist>div{margin-bottom:2.52525%;padding-bottom:15px;}
#root .rootlist .titl{margin-bottom:6px;color:#d6d6d6;font-size:21px;line-height:1;}
#root .rootlist .contactbox{width:28.88889%;}
#root .rootlist .contactbox li{margin-bottom:4px;line-height:1.5;}
#root .rootlist .contactbox li:first-child{font-weight:bold;}
#root .rootlist .contactbox:before,#root .rootlist .contactbox:after{position:absolute;top:0;overflow:hidden;width:12px;height:274px;background:url(../img/bg-shadow.png) no-repeat center top;content:'';}
#root .rootlist .contactbox:before{left:31.91919%;}
#root .rootlist .contactbox:after{left:73.43434%;}
#root .rootlist .inquiry{width:30.76768%;}
#root .rootlist .inquiry li{padding-top:10px;}
#root .rootlist .inquiry li:first-child{padding-top:4px;}
#root .rootlist .inquiry li input,#root .rootlist .inquiry li textarea{padding:2px 5px;width:100%;border:0 none;border-left:3px solid #f18800;background:#171717;color:#666;line-height:22px;}
#root .rootlist .inquiry li input.focusOn,#root .rootlist .inquiry li textarea.focusOn{color:#fff;}
#root .rootlist .inquiry li textarea{display:block;height:67px;max-width:100%;}
#root .rootlist .inquiry li input{height:26px;}
#root .rootlist .inquiry li i{color:#ff4546;}
#root .rootlist .inquiry li img{vertical-align:middle;cursor:pointer;}
#root .rootlist .inquiry li input[type="submit"]{overflow:hidden;margin-bottom:10px;padding:0;width:80px;height:20px;border-left:0 none;border-radius:4px;color:#fff;text-align:center;line-height:20px;}
@media screen and (max-width:820px){#root .rootlist .inquiry li input[type="submit"]{height:34px;line-height:34px;}
}
#root .rootlist .inquiry li input[name="code"]{width:80px;vertical-align:middle;}
#root .rootlist .copyright{width:19.79798%;text-transform:capitalize;}
#root .rootlist .line{display:none;}
@media screen and (max-width:820px){#root .rootlist .contactbox,#root .rootlist .inquiry{width:47%;}
#root .rootlist .contactbox:before,#root .rootlist .contactbox:after{display:none;}
#root .rootlist .copyright{width:100%;}
}
@media screen and (max-width:550px){#root .rootlist .contactbox,#root .rootlist .inquiry{width:100%;}
}
#curpos{padding-top:4px;border-bottom:1px dotted #b2b2b2;}
#curpos,#curpos a{color:#939393;}
#curpos a{display:inline-block;}
#left{float:left;}
#left>.titl{margin-bottom:.5277%;padding-bottom:6px;}
#side{float:right;}
#side .nav .titl:after{position:absolute;top:0;right:0;bottom:0;display:none;margin-top:auto;margin-right:1%;margin-bottom:auto;padding-right:3px;height:20px;content:'Open \e636';font-size:12px;font-family:icomoon,Arial,Helvetica,'Microsoft YaHei',SimSun,Sans-serif;line-height:20px;}
#side .nav .titl.listslide:after{content:'Close \e656';}
@media screen and (max-width:820px){#side .nav{position:absolute;top:0;left:0;width:100%;}
#side .nav .titl{padding-right:55px;padding-left:15px;text-align:left;cursor:pointer;}
#side .nav .titl:after{display:block;}
#side .nav dl{display:none;}
}
.hcontent{padding-top:8px;}
.newstitle{color:#f67f00;font-weight:bold;font-size:16px;line-height:1.2;}
.updatetime{display:block;margin-bottom:15px;padding-bottom:12px;border-bottom:1px dotted #b2b2b2;color:#b8b8b8;font-size:13px;line-height:1;}
.newslist{padding-bottom:1.5%;}
.newslist li{margin-bottom:15px;padding-top:2.41546%;padding-bottom:16px;border-bottom:1px dotted #c8c8c8;}
.newslist li h2 a{color:#484848;text-transform:capitalize;font-weight:bold;line-height:1.2;}
.newslist li span{display:block;color:#c3c3c3;}
.newslist li p{overflow:hidden;max-height:28px;color:#484848;line-height:14px;}
@media screen and (max-width:450px){.newslist li p{overflow:hidden;height:28px;max-height:none;line-height:14px;}
}
.newslist li>a{color:#f67f00;font-weight:bold;line-height:20px;}
.newslist li>a:after{padding-left:1px;content:"\e650";vertical-align:top;font-weight:normal;font-size:14px;font-family:icomoon;}
.newslist li>a:hover{text-decoration:underline;}
.detailbox #proleft{width:43.53562%;}
.detailbox #proleft #proimg{height:217px;border:1px solid #afafaf;}
.detailbox #proright{width:53.43008%;}
.detailbox #proright .pdbox h1{color:#285480;text-transform:capitalize;font-weight:bold;font-size:15px;line-height:1.2;}
.detailbox #proright>p{overflow:hidden;margin-top:2px;max-height:88px;line-height:22px;}
@media screen and (max-width:500px){.detailbox #proright>p{overflow:hidden;height:88px;max-height:none;line-height:22px;}
}
.detailbox #proright .addthis_sharing_toolbox{margin:1% 0;padding:8px 0;}
.detailbox #proright .pdcon{padding-top:8px;border-top:1px dotted #959595;color:#285480;line-height:1.5;}
.detailbox #proright .pdcon b{display:block;font-weight:bold;}
.detailbox #proright .pdcon>a{display:block;overflow:hidden;margin-top:8px;width:109px;height:23px;border-radius:3px;color:#fff;text-align:center;line-height:23px;}
.detailbox #proright #spec-contact{margin-top:1.2%;padding-top:8px;}
.detailbox #proright #spec-contact a,.detailbox #proright #spec-contact b{color:#f67f00;font-weight:bold;}
.detailbox #proright #spec-contact li{display:inline-block;margin-right:10px;}
@media screen and (max-width:600px){.detailbox #proleft,.detailbox #proright{width:100%;}
.detailbox #proright{margin-top:10px;}
}
#spec-list{margin-top:10px;}
#spec-list li{float:left;margin-left:1.2%;width:24.1%;}
#spec-list li:first-child{margin-left:0;}
#spec-list img{display:block;padding:2px;width:100%;height:54px;border:1px solid #ccc;}
#spec-list img:hover{padding:1px;border:2px solid #f67f00;}
#proDes{margin-top:2.90237%;margin-bottom:1.97889%;padding-top:22px;padding-bottom:7px;}
#tags li{position:relative;float:left;margin-right:5px;padding:2px 10px 0 10px;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;background:#dfdfdf;color:#5f5f5f;text-align:center;font-weight:bold;line-height:30px;cursor:pointer;}
#tags li.selectTag{background:#fff;color:#f67f00;}
#tags li.selectTag:before{position:absolute;top:0;right:-1px;bottom:-1px;left:-1px;overflow:hidden;border-top:3px solid #f67f00;border-bottom:1px solid #fff;content:'';}
@media screen and (max-width:820px){#tags li{margin-right:0;padding:6px 4px;width:33.333%;border-right:0 none;border-left:1px solid #fff;}
#tags li:first-child{border-left:0 none;}
#tags li.selectTag{background:#f67f00;color:#fff;}
#tags li.selectTag:before{display:none;}
}
.tagContent{padding:2.5%;border:1px solid #dfdfdf;word-wrap:break-word;word-break:break-word;}
.tagContent{word-wrap:bread-word;}
#quotation{margin-bottom:14px;padding:10px 15px;border:1px solid #d6d6d6;}
#quotation .formtitle{font-weight:bold;line-height:1.5;}
#quotation .text{margin-top:5px;line-height:1.5;}
#quotation ul{margin-top:2%;margin-right:auto;margin-left:auto;padding-top:10px;width:80%;}
#quotation li{margin-bottom:10px;line-height:22px;}
#quotation li input,#quotation li textarea{padding:1px 5px;width:100%;border:1px solid #ccc;background:#fff;line-height:22px;}
#quotation li textarea{display:block;height:110px;max-width:100%;}
#quotation li input{height:28px;}
#quotation li i{color:#ff4546;}
#quotation li img{vertical-align:middle;cursor:pointer;}
#quotation input[type="submit"],#quotation input[type="reset"]{margin-bottom:5px;width:114px;height:28px;border:0 none;border-radius:3px;color:#fff;text-align:center;font-size:14px;line-height:26px;}
#quotation input[type="submit"]{margin-right:13px;}
#quotation input[name="code"]{margin:5px 0;width:114px;vertical-align:middle;}
@media screen and (max-width:600px){#quotation ul{width:90%;}
}
@media screen and (max-width:500px){#quotation ul{width:100%;}
}
.prenext{margin-bottom:10px;padding:3px 15px;background:#f4f3f4;color:#888;text-transform:capitalize;font-size:14px;line-height:1.5;}
.prenext b{padding-right:3px;color:#f67f00;text-transform:capitalize;font-weight:bold;}
.prenext a{color:#888;}
#hot{padding:8px 0;background:#f4f3f4;}
#hot #htitlebg{padding-left:15px;font-weight:bold;line-height:1;}
#hotul_1{margin-top:1.84697%;padding-top:10px;padding-right:32px;padding-left:32px;}
#hotul_1.owl-theme .owl-controls .owl-buttons div{position:absolute;top:50%;overflow:hidden;margin:0;margin-top:-32px;padding:0;width:30px;height:54px;border-radius:0;background:#d9d8d9;text-align:center;text-indent:999px;font-size:22px;line-height:54px;opacity:1;filter:alpha(opacity=100);}
#hotul_1.owl-theme .owl-controls .owl-buttons div:before{position:absolute;top:0;left:0;width:100%;height:100%;color:#999;text-indent:0;font-family:icomoon;}
#hotul_1.owl-theme .owl-controls .owl-buttons div:hover{background:#285480;}
#hotul_1.owl-theme .owl-controls .owl-buttons div:hover:before{color:#fff;}
#hotul_1.owl-theme .owl-controls .owl-buttons div.owl-prev{left:0;}
#hotul_1.owl-theme .owl-controls .owl-buttons div.owl-prev:before{content:'\e61d';}
#hotul_1.owl-theme .owl-controls .owl-buttons div.owl-next{right:0;}
#hotul_1.owl-theme .owl-controls .owl-buttons div.owl-next:before{content:'\e61e';}
#hotul_1 .proimg,#hotul_1 .protext{margin-right:4.65116%;margin-left:4.65116%;}
#hotul_1 .proimg{background:#fff;}
#hotul_1 .proimg a{height:105px;border:1px solid #d8d8d8;}
@media screen and (max-width:500px){#hotul_1{padding-right:25px;padding-left:25px;}
#hotul_1.owl-theme .owl-controls .owl-buttons div{width:25px;height:44px;text-align:center;font-size:18px;line-height:44px;}
}
.contactForm{margin-top:20px;}
.jqzoom{position:relative;margin:0;padding:0;}
.zoomdiv{position:absolute;top:1px;left:0;z-index:100;display:none;overflow:hidden;width:400px;width:300px;height:400px;height:300px;border:1px solid #e4e4e4;background:url(../img/loading.gif) white no-repeat center center;text-align:center;}
.jqZoomPup{position:absolute;top:0;left:0;z-index:10;visibility:hidden;width:20px;height:20px;border:1px solid #fff;background:#afafaf 50% top no-repeat;opacity:.5;cursor:pointer;-moz-opacity:.5;-khtml-opacity:.5;filter:alpha(Opacity=50);}
@media screen and (max-width:1980px){.center,#top,#menu ul,#banner,#main,#root .rootmenu ul,#root .rootlist{width:99%;max-width:990px;}
}
@media screen and (max-width:850px){.center,#top,#menu ul,#banner,#main,#root .rootmenu ul,#root .rootlist{width:98%;}
}
@media screen and (max-width:600px){.center,#top,#menu ul,#banner,#main,#root .rootmenu ul,#root .rootlist{width:97%;}
}
@media screen and (max-width:450px){.center,#top,#menu ul,#banner,#main,#root .rootmenu ul,#root .rootlist{width:96%;}
}
@media screen and (max-width:820px){#header{margin-top:50px;border-top:0 none;}
.left,#left1,#side,.right,#right,#left{width:100%;}
#left{padding-bottom:10px;}
#menuTop{display:block;}
#menu,#top ul{position:absolute;top:50px;left:0;z-index:199;display:none;margin-top:0;width:100%;height:auto;background:#222;}
#menu{padding:0;border-top:1px solid #181818;}
#menu li{display:block;width:100%;height:auto;border-top:1px solid #2b2b2b;border-bottom:1px solid #171717;border-left:0 none;background:0;text-shadow:0 1px 1px rgba(0,0,0,0.5);}
#menu li>a{line-height:44px;}
#menu li>a:before,#menu li>a:after{display:none;}
#menu ul{width:100%;}
#menu:before,#menu:after{display:none;}
#top ul{padding-bottom:10px;text-align:left;}
#top ul .langlink,#top ul .search{display:block;}
#top ul li{padding:8px 15px;}
#top ul .sharelink{margin-bottom:0;}
#top ul .sharelink a{margin-left:7px;width:34px;height:34px;font-size:20px;line-height:34px;}
#top ul .search form{padding-right:44px;}
#top ul .search form input[type="text"]{padding:4px 5px;height:36px;border:0 none;line-height:28px;}
#top ul .search form button[type="submit"]{width:40px;height:36px;line-height:36px;}
#top ul .search form button[type="submit"]:before{font-size:24px;}
#top ul .langlink{line-height:34px;}
#top ul .langlink a{margin-right:13px;margin-left:13px;color:#efefef;}
#top ul .langlink a:last-child{margin-right:0;}
#top ul .langlink:before{content:'Language:';}
#top ul .sharelink:before{content:'Share:';}
#top ul .langlink:before,#top ul .sharelink:before{padding-right:8px;color:#ccc;}
.left .video,#left1 .video,#side .video,.left .youtube,#left1 .youtube,#side .youtube{display:none;}
.nav dl dt a{padding-top:10px;padding-bottom:10px;}
#curpos{padding-top:44px;}
#footerToolBar,.toolMask{display:block;}
#root{padding-bottom:45px;}
#main{position:relative;}
}
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{margin:0;padding:0;outline:0;border:0;vertical-align:top;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{position:relative;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#f9f9f9;color:#444;text-shadow:none;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5);}
.fancybox-outer,.fancybox-inner{position:relative;}
.fancybox-inner{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;min-height:500px;}
.fancybox-error{margin:0;padding:15px;color:#444;white-space:nowrap;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;}
.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url("../img/fancybox/fancybox_sprite.png");}
#fancybox-loading{position:fixed;top:50%;left:50%;z-index:8060;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;}
#fancybox-loading div{width:44px;height:44px;background:url("../img/fancybox/fancybox_loading.gif") center center no-repeat;}
.fancybox-close{position:absolute;top:-18px;right:-18px;z-index:8040;width:36px;height:36px;cursor:pointer;}
.fancybox-nav{position:absolute;top:0;z-index:8040;width:40%;height:100%;background:transparent url("../img/fancybox/blank.gif");text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:transparent;}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{position:absolute;top:50%;z-index:8040;visibility:hidden;margin-top:-18px;width:36px;height:34px;cursor:pointer;}
.fancybox-prev span{left:10px;background-position:0 -36px;}
.fancybox-next span{right:10px;background-position:0 -72px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;overflow:visible !important;max-width:99999px;max-height:99999px;}
.fancybox-lock{overflow:hidden !important;width:auto;}
.fancybox-lock body{overflow:hidden !important;}
.fancybox-lock-test{overflow-y:hidden !important;}
.fancybox-overlay{position:absolute;top:0;left:0;z-index:8010;display:none;overflow:hidden;background:url("../img/fancybox/fancybox_overlay.png");}
.fancybox-overlay-fixed{position:fixed;right:0;bottom:0;}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;}
.fancybox-title{position:relative;z-index:8050;visibility:hidden;text-shadow:none;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;right:50%;bottom:0;z-index:8050;margin-bottom:-35px;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:transparent;background:rgba(0,0,0,0.8);color:#FFF;text-shadow:0 1px 2px #222;white-space:nowrap;font-weight:bold;line-height:24px;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{padding-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;padding:10px;background:#000;background:rgba(0,0,0,0.8);color:#fff;}
body.fofGray{background:#adb4bf;}
.fofContainer{overflow:hidden;margin-right:auto;margin-left:auto;padding-bottom:35px;width:97%;max-width:942px;font-size:12px;font-family:Arial,Helvetica,San-serif,'Microsoft YaHei',SimSun;line-height:1.75;}
.fofCenter,.fofWrap input,.fofSearch,.fofLeft img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;}
.fofCenter.justify .box,.displayList li dl.fofCenter .box{font-size:12px;}
.fofHeader{text-align:center;}
.fofHeader #logo{position:static;display:block;margin:0 auto;padding:16px 0;background:0;text-align:center;}
.fofHeader #logo:before,.fofHeader #logo:after{display:none;}
.fofCopy{margin-top:6px;padding-right:2%;color:#fff;text-align:right;}
.fofCenter{position:relative;overflow:hidden;padding:1.91489%;border:1px solid #697076;border-radius:7px;background:#fff;}
.fofCenter.justify>div,.displayList li dl.fofCenter>div{vertical-align:middle;}
.fofCenter:before{position:absolute;top:20px;bottom:20px;left:51.5%;overflow:hidden;width:1px;background:#c4c9ce;content:'';}
.fofCenter .fofLeft,.fofCenter .fofRight{margin:1.2% 0;padding:8px 0;}
.fofCenter .fofLeft{width:49.22566%;}
.fofCenter .fofRight{width:45.02212%;}
.fofCenter .fofSearch{position:relative;position:relative;margin-top:9.66292%;margin-right:auto;margin-left:auto;padding-right:105px;width:365px;max-width:100%;}
.fofCenter .fofSearch input{overflow:hidden;height:29px;border-radius:6px;}
.fofCenter .fofSearch input[type="text"]{padding:2px 5px;width:100%;border:1px solid #9099a2;background:#fff;box-shadow:inset 0 5px 9px rgba(186,194,205,0.4);line-height:23px;}
.fofCenter .fofSearch input[type="submit"]{position:absolute;top:0;right:0;width:95px;border-color:#fdc797 #985519 #5e340f #f2a35f;border-width:1px;background:-webkit-linear-gradient(top,#fa8c2b,#fa8c2b);background:-moz-linear-gradient(top,#fa8c2b,#fa8c2b);background:-o-linear-gradient(top,#fa8c2b,#fa8c2b);background:-ms-linear-gradient(top,#fa8c2b,#fa8c2b);background:linear-gradient(top,#fa8c2b,#fa8c2b);color:#fff;text-align:center;text-transform:capitalize;font-size:14px;line-height:27px;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFA8C2B',endColorStr='#FFFA8C2B',gradientType='0');border-type:solid;}
.fofCenter .fofLeft img{display:block;margin-right:auto;margin-left:auto;}
.fofCenter .fofRight,.fofCenter .fofRight a{color:#9099a2;}
.fofCenter .fofRight .fofTitle{margin-bottom:6px;font-size:22px;line-height:1.2;}
.fofCenter .fofRight>p{overflow:hidden;max-height:72px;color:#bac2cd;font-size:13px;line-height:18px;}
.fofCenter .fofRight>dl{margin-top:3.25581%;padding-top:14px;}
.fofCenter .fofRight>dl dt.box{margin-bottom:9px;width:100%;font-size:17px;line-height:1.2;}
.fofCenter .fofRight>dl dd{width:47%;border-bottom:1px solid #dfe3e8;line-height:15px;}
.fofCenter .fofRight>dl dd a{display:block;padding:6px 0;}
.fofCenter .fofRight>dl dd a:before{padding-right:4px;color:#666;content:'â†’';font-size:13px;}
.fofCenter .fofRight .fofShare{margin-top:3.72093%;padding-top:12px;}
.fofCenter .fofRight .fofShare span{font-size:17px;line-height:1.2;}
.fofCenter .fofRight .fofShare span,.fofCenter .fofRight .fofShare>a{display:inline-block;margin-right:12px;vertical-align:middle;}
.fofCenter .fofRight .fofShare>a{overflow:hidden;width:25px;height:25px;border-radius:3px;text-align:center;font-size:16px;line-height:25px;}
.fofCenter .fofRight .fofShare>a:before{color:#fff;font-family:icomoon;}
.fofCenter .fofRight .fofShare>a:last-child{margin-right:0;}
.fofCenter .fofRight .fofShare .fofFb{background:#213392;}
.fofCenter .fofRight .fofShare .fofFb:before{content:'\e62c';}
.fofCenter .fofRight .fofShare .fofTw{background:#21abe7;}
.fofCenter .fofRight .fofShare .fofTw:before{content:'\e62b';}
.fofCenter .fofRight .fofShare .fofIn{background:#0080b2;}
.fofCenter .fofRight .fofShare .fofIn:before{content:'\e630';}
.fofCenter .fofRight .fofShare .bdsharebuttonbox{display:inline-block;min-width:160px;vertical-align:middle;}
@media screen and (max-width:945px){.fofCenter .fofRight .fofShare>a{width:34px;height:34px;font-size:20px;line-height:34px;}
.fofCenter .fofRight>dl dd a{padding:10px 0;}
}
@media screen and (max-width:650px){.fofCenter{padding:15px;}
.fofCenter:before{display:none;}
.fofCenter .fofLeft,.fofCenter .fofRight{width:100%;}
.fofCenter .fofSearch{margin-top:5%;margin-bottom:3%;}
.fofCenter .fofLeft img{padding-right:2%;}
}
@media screen and (max-width:400px){.fofCenter .fofRight>dl dd{width:100%;}
.fofCenter .fofRight>p{overflow:hidden;height:72px;max-height:none;line-height:18px;}
}
input[name="code"]+img{height:28px;vertical-align:middle;}
iframe[name='google_conversion_frame']{float:left;margin-top:-13px;width:0 !important;height:0 !important;font-size:0 !important;line-height:0 !important;}
object[id^="tq_as"]{overflow:hidden;margin:0;height:0 !important;}

.secList{ display: none;position: absolute;left: 100%;top: 0;min-width: 100%; background:#fff; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
.secList li{border-top: 1px solid #e1e1e1;}
.secList li:last-child{ border-bottom:1px solid #e1e1e1;}
.nav dl dt{ position:relative;}
.nav dl dt:hover .secList{ display:block;}
@media screen and (max-width: 820px){ .nav dl dt:hover .secList{ display:none;}}
@media screen and (max-width: 500px){ body div[id*=LRdiv] {display: none !important;} }
.imgWidth img{width:100px;}
.inquiry .create-form-title{padding:0!important;color: #d6d6d6!important;font-size: 21px!important;line-height: 1;text-transform:uppercase;background:none!important;}
.inquiry .create-form-wrap{border:0!important;background: none!important;}
.inquiry .create-form-inner{padding:0!important;}
.inquiry .create-form-inner .create-form-li label{color:#fff!important;}
.inquiry .create-form-submit{background:#d6d6d6!important;color:#000!important;}

.proClassInfo{margin-top:20px;}
.iniBanner .item { display: none; }

.iniBanner .item:first-child { display: block; }

/*å½•å…¥æ ·å¼å¼€å§‹*/ 
ul.ent-num li{list-style:outside decimal;margin-left:20px}ul.ent-dot li{list-style:outside disc;margin-left:20px}table.table-left td,table.table-left th{text-align:left}ul[class^=ent-img]{text-align:justify;text-justify:inter-ideograph;letter-spacing:0;font-size:0;padding:8px 0}ul[class^=ent-img]:after{content:'';height:0;width:100%;display:inline-block;overflow:hidden}ul[class^=ent-img] li.line{display:inline-block;height:0;overflow:hidden;padding:0;margin:0}ul[class^=ent-img] li{display:inline-block;vertical-align:top;font-size:14px}ul[class^=ent-img]:first-child{padding-top:0;margin-top:-8px}ul[class^=ent-img] li{text-align:center;line-height:1.5;margin-bottom:1%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;padding:8px 0;line-height:1.5}ul[class^=ent-img] li span{display:block;margin-top:4px;text-transform:capitalize}ul[class^=ent-img] li p{margin-top:4px}ul[class^=ent-img] li img{vertical-align:bottom}ul[class^=ent-img] li dl{text-align:left}ul[class^=ent-img] li dt{font-weight:700;text-transform:capitalize}ul[class^=ent-img] li dd,ul[class^=ent-img] li dt{padding-bottom:2px}.ent-img2 li{width:48%}.ent-img3 li,.ent-img3-more li,.ent-img3-only li{width:31.5%}.ent-img4 li{width:23%}.ent-img5 li{width:19.2%}.ent-img6 li{width:15.6%}.ent-img-fl img,.ent-img-fr img,.ent-img-left img,.ent-img-right img{max-width:48%}.ent-img-fl img{float:left;margin-right:14px}.ent-img-fr img{float:right;margin-left:14px}.ent-img-left img{margin-right:4%;float:left}.ent-img-right img{margin-left:4%;float:right}.ent-img-left,.ent-img-right{padding:8px 0}.ent-img-left,.ent-img-left .ent-text,.ent-img-right,.ent-img-right .ent-text{overflow:hidden;zoom:1}.ent-clearfix:after,.ent-clearfix:before{content:"";display:table}.ent-clearfix:after{clear:both}.ent-video-wrap{position:relative;display:block;height:0;padding:0;overflow:hidden}.ent-video-wrap.ent-16-9{padding-bottom:56.25%}.ent-video-wrap.ent-4-3{padding-bottom:75%}.ent-video-wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}.ent-left{float:left;margin-right:15px}.ent-right{float:right;margin-left:15px}.ent-left,.ent-right{margin-bottom:8px;width:47%}@media screen and (max-width:750px){.ent-img5.ent-res li,.ent-img6.ent-res li{width:31.5%}.ent-left,.ent-right{width:53%}.ent-img-fl img,.ent-img-fr img,.ent-img-left img,.ent-img-right img{float:none;margin-right:0;margin-left:0;max-width:100%;margin-bottom:10px;display:block}}@media screen and (max-width:650px){.ent-img3-more.ent-res li,.ent-img3.ent-res li,.ent-img4.ent-res li{width:48%}.ent-left,.ent-right{width:100%;margin-right:0;margin-left:0;float:none}}@media screen and (max-width:520px){.ent-img5.ent-res li,.ent-img6.ent-res li{width:48%}}@media screen and (max-width:460px){.ent-img2.ent-res li,.ent-img3-more.ent-res li,.ent-img3-only.ent-res li,.ent-img3.ent-res li,.ent-img4.ent-res li{width:100%}}.bordered img{border:1px solid #ddd}.rounded img{border-radius:5px}.ent-c strong{text-transform:capitalize} 
/*å½•å…¥æ ·å¼ç»“æŸ*/
